@charset "utf-8";

#wrapper{
	margin: 0 auto;
	text-align: left;
	width: 100%;
	line-height: 1.8;
}

#header {
	text-align: center;
	border-bottom: 1px solid #E0E0E0;
}

#header h1 {
	text-align: center;
	border-bottom: 1px solid #707070;
}

#header h1 img {
	width: 300px;
}

#header nav ul {
	padding: 2rem 0;
}

#header nav ul li a {
	text-decoration: none;
}

#header ul li {
	display: inline;
	padding: 0 2em;
	font-size: 1rem;
}

#mainContents{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

#footer{
	background: #000;
	color: #fff;
	margin-top: 45px;
	text-align: center;
}

#footer p#copyright{
	text-align: center;
	padding: 8px;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
}